Repository amtteamheig/amt_project, pull requests merged in 2020-10, with the labels that each got.

#19 Fix HttpError and added more actions
  .DS_Store
  .github/labeler.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  README.md
  src/main/webapp/assets/css/main_style.css
Labels: design

#22 Fp adding e2e tests
  .gitignore
  .idea/compiler.xml
  README.md
  e2e/codecept.conf.js
  e2e/package-lock.json
  e2e/package.json
  e2e/register_login_test.js
  e2e/sign_up_&_login_test.js
Labels: testing

#24 Fb navbar
  .idea/codeStyles/Project.xml
  .idea/misc.xml
  database.sql
  src/main/webapp/WEB-INF/views/browsing.jsp
  src/main/webapp/WEB-INF/views/fragments/header.jsp
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
  src/main/webapp/WEB-INF/views/new_question.jsp
  src/main/webapp/assets/css/all.min.css
  src/main/webapp/assets/css/main_style.css
  src/main/webapp/assets/favicon.ico
  src/main/webapp/assets/webfonts/fa-brands-400.eot
  src/main/webapp/assets/webfonts/fa-brands-400.svg
  src/main/webapp/assets/webfonts/fa-brands-400.ttf
  src/main/webapp/assets/webfonts/fa-brands-400.woff
  src/main/webapp/assets/webfonts/fa-brands-400.woff2
  src/main/webapp/assets/webfonts/fa-regular-400.eot
  src/main/webapp/assets/webfonts/fa-regular-400.svg
  src/main/webapp/assets/webfonts/fa-regular-400.ttf
  src/main/webapp/assets/webfonts/fa-regular-400.woff
  src/main/webapp/assets/webfonts/fa-regular-400.woff2
  src/main/webapp/assets/webfonts/fa-solid-900.eot
  src/main/webapp/assets/webfonts/fa-solid-900.svg
  src/main/webapp/assets/webfonts/fa-solid-900.ttf
  src/main/webapp/assets/webfonts/fa-solid-900.woff
  src/main/webapp/assets/webfonts/fa-solid-900.woff2
  src/test/java/ch/heigvd/amt/mvcProject/application/question/RegisterLogin.java
Labels: design, java

#23 Test browsing page
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTest.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/question/QuestionTest.java
Labels: java

#28 Add tests for AuthenticationTest
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LoginRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/RegisterRequestHandler.java
  src/main/webapp/assets/css/main_style.css
  src/test/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacadeTest.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/RegisterLogin.java
Labels: design, java

#26 Fp profile page v2
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/MyProfileRenderer.java
  src/main/webapp/WEB-INF/views/browsing.jsp
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
  src/main/webapp/WEB-INF/views/fragments/questions.jsp
  src/main/webapp/WEB-INF/views/myprofile.jsp
  src/main/webapp/assets/css/main_style.css
Labels: design, java

#29 Fb design
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
  src/main/webapp/WEB-INF/views/fragments/questions.jsp
  src/main/webapp/WEB-INF/views/home.jsp
  src/main/webapp/WEB-INF/views/login.jsp
  src/main/webapp/WEB-INF/views/myprofile.jsp
  src/main/webapp/WEB-INF/views/new_question.jsp
  src/main/webapp/WEB-INF/views/register.jsp
  src/main/webapp/assets/css/main_style.css
  src/main/webapp/assets/sass/fragments/_base.scss
  src/main/webapp/assets/sass/fragments/_buttons.scss
  src/main/webapp/assets/sass/fragments/_colors.scss
  src/main/webapp/assets/sass/fragments/_forms.scss
  src/main/webapp/assets/sass/fragments/_home.scss
  src/main/webapp/assets/sass/fragments/_navbar.scss
  src/main/webapp/assets/sass/fragments/_questions.scss
  src/main/webapp/assets/sass/main_style.scss
Labels: design

#30 Fb question page
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnwserDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/comment/CommentCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/comment/CommentDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/comment/CommentFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/comment/CommentQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionsDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/tag/TagCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/tag/TagDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/tag/TagFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/tag/TagQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/Answer.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/AnswerId.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/IAnswerRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/comment/Comment.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/comment/CommentId.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/comment/ICommentRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/IQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/tag/ITagRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/tag/Tag.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/tag/TagId.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/ErrorPageRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LoginRequestHandler.java
  src/main/webapp/WEB-INF/views/error.jsp
  src/main/webapp/WEB-INF/views/fragments/questions.jsp
  src/main/webapp/WEB-INF/views/home.jsp
  src/main/webapp/WEB-INF/views/login.jsp
  src/main/webapp/WEB-INF/views/question.jsp
  src/main/webapp/assets/css/main_style.css
  src/main/webapp/assets/css/main_style.css.map
  src/main/webapp/assets/sass/fragments/_buttons.scss
  src/main/webapp/assets/sass/fragments/_colors.scss
  src/main/webapp/assets/sass/main_style.scss
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTest.java
Labels: design, java

#32 fix
  README.md
  e2e/README.md
  e2e/codecept.conf.js
  load-tests/signup.jmx
Labels: testing

#33 Fb jdbc
  .gitignore
  README.md
  docker-compose.yml
  docker/database/help2000_db_init.sql
  docker/images/payara/Dockerfile
  docker/topologies/docker-compose.yml
  pom.xml
  project.iml
  run-app.sh
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/login/CurrentUserDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionsDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/Question.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/user/IUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/user/User.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/memory/InMemoryQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/memory/InMemoryRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/memory/InMemoryUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/HomePageRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/filter/AuthorizationFilter.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/BrowsingRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/MyProfileRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LoginRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/RegisterRequestHandler.java
  src/main/liberty/config/mysql-connector-java-8.0.21.jar
  src/main/liberty/config/server.env
  src/main/liberty/config/server.xml
  src/test/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacadeTest.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTest.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/question/QuestionTest.java
Labels: java

#41 add username in cookie
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/LoginRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LoginRequestHandler.java
Labels: java

#40 new question test
  pom.xml
  src/test/java/ch/heigvd/amt/mvcProject/domain/question/QuestionTest.java
Labels: java

#43 Fb authentication filter
  pom.xml
  run-integration-tests.sh
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/filter/AuthorizationFilter.java
  src/main/liberty/config/server.xml
  src/main/resources/META-INF/beans.xml
  src/test/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacadeTestIT.java
  src/test/resources/META-INF/beans.xml.ori
  src/test/resources/arquillian.xml
Labels: java

#44 /!\ URGENT New db script
  docker/database/database.mwb
  docker/database/help2000_db_init.sql
  images/db_help2000.png
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
Labels: java

#47 Fb edit profile
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/CurrentUserDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/UserFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/UserQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/UsersDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/edit/EditFailedException.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/edit/EditUserCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/user/exceptions/UserFailedException.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/IRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/exceptions/NotImplementedException.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/filter/AuthorizationFilter.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/MyProfileRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/EditProfileRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LoginRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/RegisterRequestHandler.java
  src/main/webapp/WEB-INF/views/myprofile.jsp
  src/main/webapp/assets/css/main_style.css
  src/main/webapp/assets/css/main_style.css.map
  src/main/webapp/assets/sass/fragments/_colors.scss
  src/main/webapp/assets/sass/fragments/_profile.scss
  src/main/webapp/assets/sass/main_style.scss
  src/test/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/application/user/UserFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/user/UserTest.java
  src/test/resources/META-INF/beans.xml
Labels: design, java

#45 Quick Fix question integration test
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionsDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/Question.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/BrowsingRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/MyProfileRenderer.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTest.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/question/QuestionTest.java
  src/test/resources/arquillian.xml
Labels: java

#48 Integration tests for Edit profile finished
  src/main/java/ch/heigvd/amt/mvcProject/application/user/UserFacade.java
  src/test/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/application/user/UserFacadeTestIT.java
Labels: java

#46 Fb add answer to a question
  load-tests/signup.jmx
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFailedException.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswersDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnwserDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionCommand.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionsDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/Answer.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/AnswerId.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/IAnswerRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/IQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/Question.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcAnswerRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/AnswerHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/webapp/WEB-INF/views/fragments/answer.jsp
  src/main/webapp/WEB-INF/views/fragments/vote.jsp
  src/main/webapp/WEB-INF/views/question.jsp
  src/test/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTestIT.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/answer/AnswerTest.java
  src/test/java/ch/heigvd/amt/mvcProject/domain/question/QuestionTest.java
Labels: java

#50 added filters on profile and browsing
  load-tests/signup.jmx
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/question/IQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcQuestionRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/BrowsingRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/NewQuestionRequestHandler.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/MyProfileRenderer.java
  src/main/webapp/WEB-INF/views/browsing.jsp
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
  src/main/webapp/WEB-INF/views/new_question.jsp
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTestIT.java
  src/test/resources/arquillian.xml
Labels: java

#54 Dont add answer or comments in the builder if null
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
Labels: java

#55 questionsIT for filters
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/test/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacadeTestIT.java
Labels: java

#56 Fb e2e
  e2e/README.md
  e2e/codecept.conf.js
  e2e/comments_answers_test.js
  e2e/edit_account_test.js
  e2e/landingPage_test.js
  e2e/login_register_test.js
  e2e/navigation_test.js
  e2e/newQuestion_test.js
  e2e/register_login_test.js
  e2e/steps_file.js
  src/main/java/ch/heigvd/amt/mvcProject/application/authentication/AuthenticationFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/user/IUserRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcUserRepository.java
  src/main/webapp/WEB-INF/views/fragments/answer.jsp
Labels: java, testing

#60 Fb answer upvotes
  docker/database/help2000_db_init.sql
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerQuery.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswersDTO.java
  src/main/java/ch/heigvd/amt/mvcProject/domain/answer/IAnswerRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/infrastructure/persistence/jdbc/JdbcAnswerRepository.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/handler/AnswerVoteHandler.java
  src/main/webapp/WEB-INF/views/fragments/answer.jsp
  src/main/webapp/WEB-INF/views/fragments/questions.jsp
  src/test/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacadeTestIT.java
Labels: java
