Repository amtteamheig/amt_project, pull requests merged in 2021-01, with the labels that each got.

#73 Fb logout
  e2e/logout_test.js
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/user/handler/LogoutRequestHandler.java
  src/main/webapp/WEB-INF/views/fragments/navigation_bar.jsp
Labels: java, testing

#75 Fix edit name
  e2e/edit_account_test.js
  e2e/steps_file.js
  src/main/java/ch/heigvd/amt/mvcProject/application/user/UserFacade.java
  src/main/webapp/WEB-INF/views/myprofile.jsp
  src/test/java/ch/heigvd/amt/mvcProject/application/user/UserFacadeTestIT.java
Labels: java, testing

#74 Draft: Basic API Calls
  docker-compose.yml
  pom.xml
  src/main/java/ch/heigvd/amt/mvcProject/APIUtils.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/HomePageRenderer.java
  src/main/liberty/config/server.env
Labels: java

#61 Draft: fix pipeline end2end tests
  .github/workflows/build.yml
  .github/workflows/pipeline.yml
  .gitignore
  docker-compose.local.yml
  docker-compose.yml
  e2e/codecept.conf.js
  e2e/comments_answers_test.js
  e2e/login_register_test.js
  e2e/navigation_test.js
  e2e/newQuestion_test.js
  e2e/package-lock.json
  e2e/package.json
  e2e/steps_file.js
  run-app.sh
  run-e2e-tests.sh
  run-integration-tests.sh
  wait.sh
Labels: testing

#76 Basic Get for Badges (All / With id)
  src/main/java/ch/heigvd/amt/mvcProject/APIUtils.java
  src/main/java/ch/heigvd/amt/mvcProject/application/gamificationapi/badge/BadgesDTO.java
Labels: java

#78 Fb event
  Dockerfile
  docker-compose.yml
  pom.xml
  src/main/java/ch/heigvd/amt/mvcProject/APIUtils.java
  src/main/java/ch/heigvd/amt/mvcProject/ApiFailException.java
  src/main/java/ch/heigvd/amt/mvcProject/GamificationConfig.java
  src/main/java/ch/heigvd/amt/mvcProject/application/ServiceRegistry.java
  src/main/java/ch/heigvd/amt/mvcProject/application/answer/AnswerFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/application/question/QuestionFacade.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/NewQuestionRenderer.java
  src/main/java/ch/heigvd/amt/mvcProject/ui/web/question/QuestionRenderer.java
  src/main/liberty/config/server.xml
  src/main/resources/META-INF/microprofile-config.properties
  src/main/webapp/WEB-INF/views/new_question.jsp
  src/main/webapp/WEB-INF/views/question.jsp
Labels: java

#81 Draft : Update readme
  README.md
Labels: design
